.blog-title {
    text-align: center;
    font-size: 1.45rem;
}

.blog-hero-paragraph,
.blog-content-paragraph {
    margin-bottom: 1rem;
}

.blog-btn-container {
    display: flex;
    justify-content: center;
}

.read-blog-btn {
    text-align: center;
    padding: .5rem;
    cursor: pointer;
}