.top-blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid black;
}

.top-blog-item {
    width: 99%;
    border: 1px solid black;
    height: 22rem;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
}